/* set background cover image */
.body{
    background-image: url(/Images/2019_03_02_66706_1551461528._large.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
